<div class="row justify-content-around row--machine-list">
    <div class="col-md-4 col--machine-image"> 
        <img alt="Image" class="border--round machine--image" src="{{ .ImageUrl }}">
    </div>
    
    <div class="col-md-8 col-lg-7">
        <div class="switchable__text">
            <h2 class="machine--name">{{ .Name}} </h2>
            
            <p > 
                    {{ .Description | markdownify}} 
            </p>
            
            <p>
                {{ if .DetailPage }}<a href="../{{ .DetailPage }}">Learn More »</a> {{end}} 
            </p>
        </div>
    </div>
</div>


