{{ define "main" }}
<div id="frontpage-hero">
  <img class="logo" alt="xhain logo" src="/images/logo/xhain.svg" />
</div>
<div id="content">
  <main>
    <div id="main-wrapper">
      <p>{{ .Content }}</p>
      {{ if .Params.showMap }}
      <div id="map"><noscript><img src="/images/location-map.jpg" alt="Map showing the location of the xHain space in Grünberger Str. 16, Berlin" /></noscript></div>
      {{ end }}
  </main>
  {{ partial "footer" . }}
</div>
{{ end }} {{ define "footer" }}
<!-- footer included before -->
{{ end }}
