{{ define "main" }}
<div id="frontpage-hero">
  <div class="image-attribution">
    <button class="image-attribution-button" title="Toggle attribution" aria-label="Toggle attribution" aria-pressed="false"></button>
    <div class="image-attribution-inner" role="list">Photo by <a href="https://nezoomie.pictures">NeZoomie Pictures</a></div>
  </div>
</div>
<div id="content">
  <main>
    <div id="main-wrapper">
      {{ .Content }}
    </div>
  </main>
  {{ partial "footer" . }}
</div>
{{ end }} {{ define "footer" }}
<!-- footer included before -->
{{ end }}
