.button {
  background-color: $link-color;
  cursor: pointer;
  border: none;
  color: $base-color;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 4px;
  font-family: $font-family-brand;
}

.button:hover {
  color: $font-color;
  background-color: $tertiary-color;
}

.button-nav {
  @extend .button;
  font-size: 15px;
}

.button-inline {
  @extend .button;
  font-size: 20px;
}
