footer {
  #footer-wrapper {
    display: flow-root;
    background: url(/images/logo/xhain.svg) right 30px top 30px no-repeat;
    background-size: 140px 140px;
  }
  .second-part {
    padding-bottom: 30px;
  }
}
