header {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #000;
  top: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;

  .logo {
    background: url("/images/logo/xhain.svg") no-repeat;
    padding-left: 70px;
    margin: 10px 0 0 0;
    float: left;
    height: 60px;
    background-size: 65px 60px;
    a {
      color: #fff;
      padding: 13px 0;
      display: block;
    }
  }
  #main-navigation {
    display: contents;
    margin-top: 2px;
    float: right;
    text-align: right;
    ul {
      text-align: right;
    }
    .mobile li {
      cursor: pointer;
      display: contents;
    }
    .desktop {
      display: none;
    }
  }
  nav ul {
    padding: 28px 0 0 0;
  }
}
