$font-family-brand: 'PoliticsHead', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-common: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$main-color: #FD6B58;
$secondary-color: #aed919;
$tertiary-color: #673ab7;
$fourth-color: #2196f3;
$base-color: #002225;
$font-color: #e0e0e0;
$link-color: #aed919;
$max-width: 960px;
