<style>
  .banner {
    background: #002225;
    width: 100%;
    position: absolute;
    z-index: 9;
    margin-top: 16px;
    transition: opacity 0.5s ease-out;
  }

  .banner__content {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .banner__text {
    flex-grow: 1;
    line-height: 1.4;
  }

  .banner__close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  .banner__text,
  .banner__close {
    color: #ffffff;
  }

  .xhain-important-fade {
    -webkit-animation: fadeinout 2s linear infinite;
    animation: fadeinout 2s linear infinite;
    color: red;
    text-align: center;
    opacity: 0;
  }

  @-webkit-keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  .xhain-important {
    color: red;
    text-align: center;
  }

</style>

<script>
  let windowHeight = window.outerHeight;
  const offsetFactor = 0.3;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (currentScrollPos > windowHeight * offsetFactor) {
      document.getElementById("banner").style.opacity = "0";
    } else {
      document.getElementById("banner").style.opacity = "1";
    }
  } 
</script>

<div class="banner" id="banner">
  <div class="banner__content">
    <div class="banner__text">
      {{ if strings.Contains .Site.Language.Lang "en" }}
      <h2 class="xhain-important">We need help!</h2>
      <h2 class="xhain-important">Check out <a
          href="/en/support">why and how to support</a>.</h2>
      {{ else }}
      <h2 class="xhain-important">Wir brauchen Hilfe!</h2>
      <h2 class="xhain-important">Das sind die <a
          href="/de/support">Gründe und wie man unterstützen kann</a>.
      </h2>
      {{ end }}
    </div>
    <button class="banner__close" type="button" onclick='document.getElementById("banner").style.display = "none"'>
      <span>
        <strong>X</strong>
      </span>
    </button>
  </div>
</div>
