{{ $startTime := (time.AsTime .dtstart).Local }}
{{ $formattedStartTime := $startTime.Format "15:04" }}
{{ $endTime := (time.AsTime .dtend).Local }}
{{ $formattedEndTime := $endTime.Format "15:04" }}
<div
    class="event"
    z-index="-1"
    role="button"
    aria-haspopup="dialog"
    data-start-time="{{.dtstart}}"
    data-end-time="{{.dtend}}"
    data-formatted-start-time="{{$formattedStartTime}}"
    data-formatted-end-time="{{$formattedEndTime}}"
    data-title="{{.summary}}"
    data-location="{{.Location}}"
    data-description="{{.description}}"
>
    <div class="time">
        <time class="start" datetime="{{$formattedStartTime}}" aria-label="start">
            {{$formattedStartTime}}
        </time>
        <time class="end" datetime="{{$formattedEndTime}}" aria-label="end">
            {{$formattedEndTime}}
        </time>
    </div>
    <span class="title">{{.summary}}</span>
</div>
