{{ $formattedStartTime := .dtstart.Format "15:04" }}
{{ $formattedEndTime := .dtend.Format "15:04" }}
{{ $pathDate := .dtstart.Format "2006-01-02" }}
{{ $slugTitle := anchorize .summary }}
{{ $permalink := printf "calendar/events/%s-%s/" $pathDate $slugTitle | relLangURL }}
<a
    class="event"
    href="{{$permalink}}"
    z-index="-1"
    role="button"
    aria-haspopup="dialog"
    data-start-time="{{.dtstart.Format "2006-01-02T15:04:05-0700" }}"
    data-end-time="{{.dtend.Format "2006-01-02T15:04:05-0700" }}"
    data-formatted-start-time="{{$formattedStartTime}}"
    data-formatted-end-time="{{$formattedEndTime}}"
    data-title="{{.summary}}"
    data-location="{{.Location}}"
    data-description="{{.description}}"
    data-permalink="{{$permalink}}"
>
    <div class="time">
        <time class="start" datetime="{{$formattedStartTime}}" aria-label="start">
            {{$formattedStartTime}}
        </time>
        <time class="end" datetime="{{$formattedEndTime}}" aria-label="end">
            {{$formattedEndTime}}
        </time>
    </div>
    <span class="title">{{.summary}}</span>
</a>
