<footer>
  <div id="footer-wrapper">
    <div class="first-part">
      <h5>{{ .Site.Params.tools.title }}:</h5>
      <nav id="tools-navigation">
        <ul>
          {{- $currentPage := . -}} {{ range .Site.Menus.tools -}}
          <li class="">
            <a href="{{ .URL | absLangURL }}" class="">
              {{ .Name }}
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
      <h5>{{ .Site.Params.social.title }}:</h5>
      <nav id="social-navigation">
        <ul>
          {{- $currentPage := . -}} {{ range .Site.Menus.social -}}
          <li class="">
            <a href="{{ .URL | absLangURL }}" rel="me" class="">
              {{ .Name }}
            </a>
          </li>
          {{- end }}
        </ul>
      </nav>
    </div>
    <div class="second-part">
      <h5>{{ .Site.Params.info.title }}:</h5>
      <nav id="footer-navigation">
        <ul>
          {{ range .Site.Menus.footer.ByWeight }}
          <li>
            <a class="" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</footer>
