<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="user-scalable=yes, width=device-width, initial-scale=1"
  />
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ printf "%s | %s" (truncate 38 (.Title | plainify)) .Site.Title }}{{ end }}</title>
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{ else if .Site.Params.DefaultDescription }}
  <meta name="description" content="{{ .Site.Params.DefaultDescription }}" />
  {{ end }}
  {{ if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  {{ else if .Site.Params.DefaultKeywords }}
  <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords ", " }}">
  {{ end }}
  <meta name="author" content="{{ .Site.Params.Author }}" />
  <meta name="robots" content="all,follow" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absLangURL }}" title="{{ .Site.Title }}">

  <!-- OpenGraph tags -->
  <meta property="og:title" content="{{ .Title }}" />
  {{ if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  {{ else if .Site.Params.DefaultDescription }}
  <meta property="og:description" content="{{ .Site.Params.DefaultDescription }}" />
  {{ end }}
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.og_image | absURL }}" />

  <!-- Styles -->
  {{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link rel="stylesheet" href="/css/maplibre-gl.css" />

  <noscript>
    <style>
      #main-navigation .mobile {
        display: none;
      }
      #main-navigation .desktop {
        display: block !important;
      }
      main {
        margin-top: 200px;
      }
    </style>
  </noscript>
</head>
