<head>
  <meta charset="utf-8" />
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="robots" content="all,follow" />
  <meta
    name="viewport"
    content="user-scalable=yes, width=device-width, initial-scale=1"
  />
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{ else if .Site.Params.DefaultDescription }}
  <meta name="description" content="{{ .Site.Params.DefaultDescription }}" />
  {{ end }}
  {{ if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  {{ else if .Site.Params.DefaultKeywords }}
  <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords ", " }}"> 
  {{ end }}
  <meta name="author" content="{{ .Site.Params.Author }}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  {{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link rel="stylesheet" href="/css/maplibre-gl.css" />
  
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}{{ .Site.Language.Lang }}/index.xml" title="{{ .Site.Title }}">
  
  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{{ .Title }}" />
  {{ if .Description }}
  <meta name="og:description" content="{{ .Description }}" />
  {{ else if .Site.Params.DefaultDescription }}
  <meta name="og:description" content="{{ .Site.Params.DefaultDescription }}" />
  {{ end }}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.og_image }}" />
  
  <noscript>
    <style>
      #main-navigation .mobile {
        display: none;
      }
      #main-navigation .desktop {
        display: block !important;
      }
      main {
        margin-top: 200px;
      }
    </style>
  </noscript>
</head>
