<nav id="main-navigation">
    <ul class="mobile">
      <li>menu</li>
    </ul>
    <ul class="desktop">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li>
                <a href="{{ .URL | absLangURL }}#content">{{ .Name }}</a>
            </li>
        {{- end }}
        <li class="calendar-link">
            <a href="{{ .Permalink }}calendar#content">{{ .Site.Params.calendarName }}</a>
        </li>
        {{ partial "languageswitch.html" . }}
    </ul>
</nav>
