{{ define "main" }}
<main>
  <div id="main-wrapper">
    <h1 id="article-title">{{ .Title }}</h1>
    <p class="article-post-date">{{ .Date.Format "2006-01-02" }}</p>
    <div class="image">
      {{ if .Params.image_reference }}
      <div class="image-attribution">
        <button class="image-attribution-button" title="Toggle attribution" aria-label="Toggle attribution" aria-pressed="false"></button>
        <div class="image-attribution-inner" role="list">
          {{ if .Params.image_url }}
          <a href="{{ .Params.image_url }}" target="_blank">
          {{ end }}
            {{ .Params.image_reference }}
          {{ if .Params.image_url }}
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      <img src="{{ .Params.image | absURL }}" />
    </div>
    <div>
      <article id="content">{{ .Content }}</article>
      <!-- {{ if .Params.tags }}<div class="tags">{{ delimit .Params.tags ", " }}</div>{{end}}
          {{ if .Params.categories }}<div class="categories">{{ delimit .Params.categories ", " }}</div>{{end}} -->
    </div>
  </div>
</main>
{{ end }}
