---
title: Kalender
date: {{.Now.Format "2006-01-02"}}
draft: false
---

{{index .HtmlWrapper 0}}
<div id="xhain_calendar">
    {{range $year, $months := .Events}}
    {{range $month, $daysData := $months}}
    <div class="month_wrapper">
        <div class="month_header">
            <div class="year">{{$year}}</div>
            <div class="month">{{$month | monthName}}</div>
        </div>
        <div class="days_wrapper">
            {{range $day, $dayData := $daysData}}
            <div class="day day-{{.Weekday | weekdayShort}}" {{if not $dayData.Events}}data-empty{{end}} id="{{.Date.Format "2006-01-02"}}">
                <div class="day_title">
                    <span class="monthday">{{$day}}</span>
                    <span class="weekday">{{.Weekday | weekdayShort}}</span>
                </div>
                {{range $dayData.Events}}
                <div class="event" z-index="-1" role="button" aria-haspopup="dialog" 
                    data-start-time="{{.Start.Format "2006-01-02T15:04:05Z0700"}}" 
                    data-end-time="{{.End.Format "2006-01-02T15:04:05Z0700"}}"
                    data-formatted-start-time="{{.Start.Format "15:04"}}"
                    data-formatted-end-time="{{.End.Format "15:04"}}"
                    data-title="{{.Summary}}"
                    data-location="{{.Location}}"
                    data-description="{{.Description}}"
                    >
                    <div class="time">
                        <span class="start">{{.Start.Format "15:04"}}</span>
                        <span class="end"> – {{.End.Format "15:04"}}</span>
                    </div>
                    <span class="title">{{.Summary}}</span>
                </div>
                {{else}}
                <div class="no-event"></div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
    {{end}}

    <div id="event_modal_template" class="event_modal_template" aria-hidden>
        <div class="modal">
            <button type="button" class="close" title="close">&times;</button>
            <div id="info_date_time">
                <div class="time">
                    <span class="start">${formattedStartTime}</span>
                    <span class="end"> – ${formattedEndTime}</span>
                </div>
            </div>
            <div id="info_location">${location}</div>
            <div id="info_title">${title}</div>
            <div id="info_description">${description}</div>
        </div>
    </div>

    <div id="overlay" class="overlay" role="region" aria-live="polite" aria-hidden aria-modal="true">
    </div>
</div>


{{index .HtmlWrapper 1}}