name: Build and Deploy on Push

on:
  push:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      artifact-name: ${{ needs.build.outputs.artifact-name }}
    secrets: inherit
